name: Update Rules From Sublime Repo

on:
    schedule:
      - cron:  '5 1,13 * * *'
    workflow_dispatch: {}

jobs:
    tests:
        name: Synchronize With Master Sublime Repo
        runs-on: ubuntu-20.04
        permissions:
            contents: write
            checks: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - uses: actions/setup-python@v4
              with:
                  python-version: '3.10'

            - name: Synchronize With Master Sublime Repo
              run: |
                  git config --local user.email "action@github.com"
                  git config --local user.name "GitHub Action"
                  git remote add sublime https://github.com/sublime-security/sublime-rules.git
                  git fetch --all
                  git merge --allow-unrelated-histories -X theirs sublime/main -m "Updating from sublime"

                  pip install -r scripts/change-url-to-mimecast/requirements.txt
                  python scripts/change-url-to-mimecast/main.py
                
            - name: commit files
              run: |
                  git add -A
                  git diff-index --quiet HEAD || (git commit -a -m "updated logs" --allow-empty)
          
            - name: push changes
              uses: ad-m/github-push-action@master
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  branch: main 

